<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form (ngSubmit)="login()">
                <div class="card">
                    <div class="card-header bg-warning text-white">
                        <h2>LOGIN</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-danger small">
                            {{ errorMessage }}
                        </div>
                        <div class="form-group">
                            <label for="userName">User Name</label>
                            <input 
                                type="text" 
                                class="form-control"
                                placeholder="Enter User Name" 
                                id="userName"
                                name="uName"
                                [(ngModel)]="newUser.userName">
                        </div>
                        <div class="form-group">
                            <label for="userPassword">Password</label>
                            <input 
                                type="password" 
                                class="form-control"
                                placeholder="Enter User Password" 
                                id="userPassword"
                                name="uPassword"
                                [(ngModel)]="newUser.userPassword">
                        </div>
                    </div>
                    <div class="card-footer bg-warning">
                        <button 
                            type="submit" 
                            class="btn btn-light mr-5 text-warning">
                            LOGIN
                        </button>
                        <button type="reset" class="btn btn-light text-warning">
                            CLEAR
                        </button>           
                    </div>
                </div> 
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>