<div class="container m-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card" style="width:400px">
                    <img class="card-img-top" height="400px" width="100%" [src]="fetchedBook.bookImageUrl" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">{{ fetchedBook.bookTitle }}</h4>
                      <p class="card-text">Book Author: {{ fetchedBook.bookAuthor }}</p>
                      <p class="card-text">Book Genre: {{ fetchedBook.bookGenre }}</p>
                      <p class="card-text">Book Cost: {{ fetchedBook.bookCost | currency:'INR':'symbol'}}</p>
                      <a routerLink="../../book-list" class="btn btn-primary">Go Back to List of Books</a>
                    </div>
                  </div>
            </div>
            <div class="col-3"></div>
        </div> 
</div>